
@font-face {
  font-family: 'FuturaCom-Bold';
  src: url('FuturaCom-Bold.eot?#iefix') format('embedded-opentype'),  url('FuturaCom-Bold.woff') format('woff'), url('FuturaCom-Bold.ttf')  format('truetype'), url('FuturaCom-Bold.svg#FuturaCom-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
