.ui-slider {
	position: relative;
	width: 65%; 
	margin:150px auto;
	margin-bottom: 350px;
	outline: none;
	@include responsive(0px, 480px) {
		margin: 120px auto;
		margin-bottom: 450px;
	}
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 999;
	width: 145px;
	height: 145px;
	transform: rotate(45deg);
	background-color: $vermelho;
	text-decoration: none;
	top: -67px;
	&:after{
		content:'OK!';
		color: $azulEscuro;
		text-decoration: none;
		transform: translate(-50%,-50%) rotate(-45deg);
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 36px;
	}
	@include responsive(0px, 512px) {
		width: 55px;
		height: 55px;
		top: -22px;
		&:after{
			font-size:15px;
		}
	}
	@include responsive(513px, 768px) {
		width: 110px;
		height: 110px;
		top: -48px;
		&:after{
			font-size:23px;
		}
	}	
}
.ui-slider .ui-slider-range {
	position: absolute;
	height: 12px;
	z-index: 9;
	font-size: .7em;
	display: block;
	border: 0;
	width: 100px;
	background-color: $vermelho;
	outline: none;
	@include responsive(0px, 512px) {
		height: 7px;
	}
}
.ui-slider-horizontal {
	height: 12px;
	@include responsive(0px, 512px) {
		height: 7px;
	}
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
.ui-slider-vertical {
	height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}
.ui-sortable-handle {
	-ms-touch-action: none;
	touch-action: none;
}
#textarea_three{
	background-color: $azulClaro;
	height: 12px;
	&:after{
		content:'0%';
		position: absolute;
		top: 17px;
	}
	@include responsive(0px, 512px) {
		font-size: 12px;
		height: 7px;
	}	
}
#textarea_four{
	text-align: right;
    margin-top: 9px;
    color: $azulClaro;
    @include responsive(0px, 512px) {
		font-size: 12px;
	}
}
.tooltip_bottom{
	position: absolute;
    top: 151px;
    left: 144px;
    transform: rotate(-45deg);
    color: $azulClaro;
    @include responsive(0px, 512px) {
		top: 54px;
		left: 47px;
	}
	@include responsive(513px, 980px) {
		top: 160px;
		left: 153px;
	}
}
