@font-face {
  font-family: 'FuturaCom-Bold';
  src: url('../fonts/FuturaCom-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/FuturaCom-Bold.woff') format('woff'), url('fonts/FuturaCom-Bold.ttf')  format('truetype'), url('../fonts/FuturaCom-Bold.svg#FuturaCom-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
