.pedir_ponto_venda{
	position:relative;
	height:500px;
	display:none;
	margin-top:44%;
	@include responsive(0px, 420px) {
		margin-top:100%;
	} 
	@include responsive(421px, 590px) {
		margin-top:75%;
	} 
	&.aparece{
		display: block;
	}
	.titulo{
		position:relative;
		width:100%;
		top:-4%;
		margin-bottom:20px;
		height:100px;

		h1{
			position:relative;
			width:30%;
			float:right;
			font-size:80px;
			line-height:100px;
			letter-spacing:7px;
			text-align:right;
			color:$vermelho;
			text-transform:uppercase;
			//font-weight:500;
			margin-right:65px;
			@include responsive(0px, 439px) {
			width:80%;
			font-size:30px;
			line-height:35px;
			padding-bottom:200px;
			margin-right:0;
			} 
			@include responsive(440px, 619px) {
			width:60%;
			font-size:35px;
			line-height:50px;
			padding-bottom:150px;
			
			} 
			@include responsive(620px, 869px) {
			width:50%;
			font-size:40px;
			line-height:65px;
			padding-bottom:100px;
			} 
			@include responsive(870px, 1060px) {
			width:40%;
			font-size:50px;
			line-height:80px
			} 
			@include responsive(1061px, 1400px) {
			width:40%;
			font-size:60px;
			} 
			@include responsive(1401px, 1760px) {
			
			width:40%;
			
			} 
		}
	}
	.quadrados_ing{
		position: relative;
		max-width: 1280px;
		margin: 0 auto;
		#quadrado1{
			width: 48%;
		    height: 0; 
		    padding-bottom: 48%; 
		    left: 23%;
		    transform: rotate(45deg);
		    position: absolute;
		    top: 60px;
		    background-color: #BCAFA4;
		    opacity: 0.2;
		    @include responsive(0px, 512px) {
				display: none;
			}   
		}
		#quadrado2{
			width: 48%;
		    height: 0; 
		    padding-bottom: 48%; 
		    left: 30%;
		    transform: rotate(45deg);
		    position: absolute;
		    top: 65px;		    
		    opacity: 0.8;
			background-color: rgba(210, 0, 60, 0.9);
		    z-index: 7;			
		    @include responsive(0px, 512px) {
				width: 300px;
			    height: 0; 
			    padding-bottom: 300px;
			    left: 25%;
			    background-color: #26377b;
			} 
		}
		.quadrado5{
			width: 38%;
		    height: 0; 
		    padding-bottom: 38%; 
		    left: 36%;
		    position: absolute;
		    top:57px;
		    z-index: 9;
		    @include responsive(0px, 700px) {
					left: 30%;
				}
		    .quadrados_container{
		    	position: absolute;
		    	width:80%;
		    	margin: 40% auto;

		    	
				
				@include responsive(0px, 700px) {
					width: 260px;
					
				}
				@include responsive(701px, 1200px) {
					width: 350px;
					margin: 30% auto;
    				left: 50%;
    				transform: translate(-50%);
				}
				
				
					#form5{
					margin:0 auto;
					text-align: center;
					width: 100%;
					display:block;
					&.desaparece{
						display: none;
					}
					.nome{
						width: 100%;
						height: 55px;
						margin-bottom: 20px;
						text-align: left;
						padding: 10px 20px;
						background-color: $azulEscuro;
						position: relative;

						h3{
							color:$branco;
							font-size: 15px;
							line-height: 35px;
							font-style: 'Helvetica', sans-serif;
							@include responsive(0px, 750px) {
								font-size: 10px;
							}
						}
						#nome{
							position: absolute;
							right: 0;
							top: 0;
							height: 55px;
							border:0;
							background-color: $azulEscuro;
							color:$cinza;
							width: 75%;
							font-size: 15px;
							padding-left: 40px;	
							@include responsive(0px, 750px) {
								font-size: 10px;
							}
						}
						#email{
							position: absolute;
							right: 0;
							top: 0;
							height: 55px;
							border:0;
							background-color: $azulEscuro;
							color:$cinza;
							width: 75%;
							font-size: 15px;
							padding-left: 40px;
							@include responsive(0px, 750px) {
								font-size: 10px;
							}
					
						}
					}
					::placeholder {
						color: #FFF;
						opacity: 2; /* Firefox */
					}
					:-ms-input-placeholder { /* Internet Explorer 10-11 */
					   color: #FFF;
					   opacity: 2;
					}

					::-ms-input-placeholder { /* Microsoft Edge */
					   color: #FFF;
					   opacity: 2;
					}
					#email{
						width: 100%;
						height: 55px;
						padding: 20px;
						margin-bottom: 20px;
						background-color: $vermelho;
						border:0;
						color: $cinza;
						font-size: 15px;
						@include responsive(0px, 750px) {
								font-size: 10px;
							}
					}
					#enviar2{
						border: none;
					    color: $cinza;
					    padding: 16px 32px;
					    text-decoration: none;
					    margin: 4px 2px;
					    background-color: $vermelho;
					    text-transform: uppercase;
					    width: 100%;
					    font-size: 15px;
					    @include responsive(0px, 750px) {
								font-size: 10px;
							}
					}
				}
		 	}	
		}
		#quadrado_foto{
			width: 67%;
		    height: 0; 
		    padding-bottom: 67%; 
		    left: 50%;
		    transform: translateX(-50%) ;
		    position: absolute;
		    top: -50px;
		    img{
		    	display: block;
		    	width: 100%;
		    	height: auto;
		    	@include responsive(0px, 512px) {
					display: none;
				}
		    }
		    @include responsive(513px, 768px) {
				top: 0px;
			} 
		}
		#quadrado_foto_check{
			width: 67%;
		    height: 0; 
		    padding-bottom: 67%; 
		    left: 50%;
		    transform: translateX(-50%) ;
		    position: absolute;
		    top: -50px;
		    z-index:999;
		    display:none;
			&.aparece{
				display: block;
			}
		    img{
		    	display: block;
		    	width: 100%;
		    	height: auto;
		    	@include responsive(0px, 512px) {
					margin-top: 25%;
					width: 400px;
				} 
		    }
		    @include responsive(513px, 768px) {
				top: 0px;
			}
		}
		
	}

}

